.full-height {
  height: 100%;
}

.settings-width {
  width: 100%;
  margin: 0 10%;
}

.warning-icon {
  font-size: 5em !important;
  height: auto !important;
  width: auto !important;
  color: #000;
}

.red-bg {
  background-color: #ffc6b6;
  color: dimgray;
}

.widget-title {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 14px;
  color: #515151;
}

.widget-fail-title {
  font-weight: 700;
  color: #996052;
}