.file-item {
  text-align: left;
  justify-content: space-evenly;
}

.redirect-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.info {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #515151 !important;
}

.widget-top-container {
  margin-top: 40px !important;
}