.DS_Store
node_modules
/dist
package-lock.json
yarn.lock
/build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

##e2e files
*js.mp4

