.widget-top-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 40px !important;
}

.widget-bottom-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px !important;
}

.refresh-btn {
  margin-top: 20px;
}

.no-flex-grow {
  flex-grow: 0;
}