.rounded-rectangle {
  border-radius: 15px;
  background-color: white;
  height: 210px;
  width: 500px;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centered-container-graph {
  margin: 10px !important;
}

.widget-title {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 14px;
  color: #515151;
}

.centered-text {
  text-align: center;
  margin-top: 30px;
}

.help-button {
  position: absolute;
  transition: all 0.5s ease-out;
  border-radius: 100%;
  right: -40px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  min-width: 30px;
  font-size: larger;
  cursor: help;
  text-align: center;
}

.rounded-rectangle:hover .help-button {
  transform: translate(-150%, 0);
}

.help-button:hover + .help-section {
  opacity: 1;
}

.help-section {
  transition: all 0.5s ease-out;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: 15%;
  background: rgb(56, 56, 56);
  border-radius: 8px;
  padding: 2% 5%;
  color: white;
}