.v-progress-circular {
  margin: 1rem;
}

.rounded-rectangle {
  border-radius: 15px;
  background-color: white;
  height: 160px;
  width: 230px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.widget-title {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 14px;
  color: #515151;
}

.widget-text-center,
.widget-graph-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 120%;
}

.widget-text-center {
  font-size: 50px;
  color: red;
}

.widget-graph-center {
  font-size: 15px;
  color: red;
}



.widget-text-bottom {
  position: absolute;
  bottom: 5px;
  left: 8px;
  font-size: 11px;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.grey-text {
  color: #515151;
}
