.NavBar {
  width: 60%;
  margin: 0 auto;
  border-radius: 17px;
  background: #ffffff;
  box-shadow:
    9px 9px 18px #d9d9d9,
    -9px -9px 18px #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 10000;
}

img {
  height: 40px;
  margin-left: 10px;
}

.menu-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #ffee00;
}

.lang {
  right: 20px;
  position: absolute;
}